
/* ==========================================================================
Media
========================================================================== */



#sermon-banner-position{
  top:0;
}
#hero-sermon{
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 70px;
}
#hero-video-style{
  width: 100%;
  margin: 0 auto;
  height: 70vh;
}
#sermon-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.9%;
  grid-row-gap: 30px;
  max-width: 960px;
  width: 70%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 70px;
}

.cell{
    display: block;
    max-height: 240px;
}


/*photo gallery*/

#photo-row-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 200px;

}
.media-row{
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  justify-content: space-between;
}

.gallery-image {
  flex-basis: 32.3%;
  margin-bottom: 1.8%;
  display: block;
  overflow: hidden;
  max-height: 200px;
}

.gallery-image img{
    /*width: auto;
    height: auto;*/
    /*max-width: none;
    max-height: none;*/
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    /*max-height: 100%;*/



}











.close:hover { background: #00d9ff; }



@media screen and (max-width: 800px) {
  .gallery-image {
    max-width: 100%;
    /*max-height: none;*/
  }
}


-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
